@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@200;300;400;500;600;700;800&display=swap");
// font-family: 'Handjet', cursive;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
// font-family: 'Manrope', sans-serif;

// global
:root {
  --bg-white: rgb(240, 240, 240);
  --nav-white: rgb(200, 200, 200); // nav
  --text-black: rgb(15, 15, 15); // text fond blanc

  --bg-black: rgb(15, 15, 15);
  --nav-black: rgb(55, 55, 55); // nav
  --text-white: rgb(240, 240, 240); // text fond blanc

  --button: rgb(0, 119, 255);
  --buttonHover: rgb(65, 65, 219);

  --Xcolor: red;
  --Ocolor: blue;
  --shadow: #888888;

  // ---

  --font-title: "Handjet", cursive;
  --font-text: "Manrope", sans-serif;

  --fs-h1: 5rem;
  --fw-h1: 800;
  --fs-h2: 3rem;
  --fw-h2: 700;
  --fs-h3: 2.5rem;
  --fw-h3: 600;
  --fs-h4: 2rem;
  --fw-h4: 500;
}

// light theme
:root {
  --background: var(--bg-white);
  --nav: var(--nav-white);

  --color: var(--text-black);
}

// dark theme
.dark-theme {
  --background: var(--bg-black);
  --nav: var(--nav-black);

  --color: var(--text-white);
}
