.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .all-boards {
    max-width: 100vw;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .congrats {
    margin: 2rem;
    font-size: 2rem;
  }

  .all-butt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: 2rem;

    .timer-butt {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      button {
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;

        background-color: var(--button2);
        color: var(--background);

        font-size: 1.2rem;
        font-weight: 700;

        &:hover {
          background-color: var(--buttonHover2);
        }
      }
    }

    .timeTimer {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      button {
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;

        background-color: var(--button3);
        color: var(--background);

        font-size: 1.2rem;
        font-weight: 700;

        &:hover {
          background-color: var(--buttonHover3);
        }
      }
    }

    .all-reset {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      margin-top: 1rem;

      .reset-btn {
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;

        background-color: var(--button);
        color: var(--background);

        font-size: 1.2rem;
        font-weight: 700;

        &:hover {
          background-color: var(--buttonHover);
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .home {
    .all-boards {
      gap: 0.4rem;
    }
  }
}
