.normal {
  display: flex;
  flex-direction: column;
  align-items: center;

  .normal-board {
    position: relative;

    &.over {
      pointer-events: none;

      &::after {
        content: "";

        position: absolute;
        top: 0;
        left: 0;
        border-radius: 8px;

        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .congrats {
    margin: 2rem;
    font-size: 2rem;
  }

  .all-reset {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    margin: 2rem auto;

    .reset-btn {
      border: none;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;

      background-color: var(--button);
      color: var(--background);

      font-size: 1.2rem;
      font-weight: 700;

      &:hover {
        background-color: var(--buttonHover);
      }
    }
  }
}
