.box {
  background-color: #ffffff;
  box-shadow: 0px 0px 8px var(--shadow);

  border: none;
  border-radius: 8px;

  width: 3rem;
  height: 3rem;

  line-height: 3.25rem;

  font-size: 3em;
  text-align: center;
  font-weight: bold;

  &.x {
    color: var(--Xcolor);
  }

  &.o {
    color: var(--Ocolor);
  }

  &:hover {
    box-shadow: 0px 0px 15px var(--shadow);
  }
}

@media screen and (max-width: 630px) {
  .box {
    width: 2rem;
    height: 2rem;

    line-height: 1.5rem;

    font-size: 2rem;
  }
}

@media screen and (max-width: 430px) {
  .box {
    width: 1.7rem;
    height: 1.7rem;

    line-height: 0.7rem;

    font-size: 1.5rem;
  }
}
