.app {
  color: var(--color);
  background-color: var(--background);

  display: flex;
  flex-direction: column;
  align-items: center;

  .allPages {
    padding-top: 1rem; // rapport à la navbar
    min-height: 100vh;
    width: 100%;
    max-width: 1300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    text-align: center;
  }
}
